################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/KPIUAP_LAB_6/.vs/KPIUAP_LAB_6/v15
